<body>

<h2>Stupid Coaching</h2>
<form action="/answer" method="get">
  <input class="form-control"type="text" name="question" placeholder="Ecrivez un truc">
  <input type="submit" class="btn btn-primary"value="Ask!">
</form>
</body>
